body {
    background-color: black;
}
main {
    background-image: url("dark-stained-timber-3430-mm-architextures.jpg");
    width: auto;
    height: 900px;
    overflow-y: scroll;
}

.row {
    position:relative;
    display: inline-flex;
    justify-content: start;
    width: 100%;
    height: 350px;
    /* background-color: aqua;just to make sure it shows... */
    overflow-x: scroll;
    -webkit-box-shadow: inset 0px 31px 96px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 31px 96px 6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 31px 96px 6px rgba(0,0,0,0.75);
}

.book {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: dimgray;
    width: 225px;
    height: 300px;
    margin: 0px 12px; /* so... between the books, a length of (225 + (12 * 2)) x 6 */
    margin-top: 20px;;
    
}

img {
    width: 225px;
    height: 300px;
}

.shelf-bottom {
    position:absolute;
    bottom: 0px;
    background-color: burlywood;
    background-image: url("dark-stained-timber-3430-mm-architextures.jpg");
    background-size: 50% 150%;
    box-shadow: 0px 40px 70px black;
    width: 1490px ;
    height: 30px;
    overflow-x: visible;
    -webkit-box-shadow: inset 0px 34px 13px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 34px 13px -26px rgba(0,0,0,0.75);
    box-shadow: inset 0px 34px 13px -26px rgba(0,0,0,0.75);
    

}

.category-tag {
    height: inherit;
    width: 215px;
    margin: 0px 10px;
    border-left: dotted black;
    line-height: 0px;
    padding-left: 10px;
}

#overall {
    width: 440px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  main {
    scrollbar-width: auto;
    scrollbar-color: #2d190a #53310b;
  }

  /* Chrome, Edge, and Safari */
  main::-webkit-scrollbar {
    width: 16px;
  }

  main::-webkit-scrollbar-track {
    background: #53310b;
  }

  main::-webkit-scrollbar-thumb {
    background-color: #2d190a;
    border-radius: 10px;
    border: 3px none #000000;
  }