.cover {
    background-image: url(emptinessbookcover.png);
}

.pages {
    background-color: black;
    
}

.page-left, .page-right {
    padding: 10px 50px;
    font-family: "Lucida Console", monospace;
    text-shadow: 0px 0px 2px white;
}

.page-left {
    background-image: url("nlpageL.png");
    position: relative;
}

.page-right {
    background-image: url("nlpageR.png");
    position: relative;
}

.imageframe {
    background-image: url("emptinesspagephotoborder.png");
    width: 450px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

#nlr2 {
    background-image: url(emptinesspagephotobase.png);
}

#concept {
    letter-spacing: 1px;
    color: darkslategray;
    text-shadow: 0px 1px 2px black;
    text-decoration: underline;
    font-weight: bold;
}