body {
    background-color: black;
    width: 99%;
    height: 100%;
}

#table {
    background-image: url(oak-3275-mm-architextures.jpg);
    background-size: cover;
    position:relative;
    width: 100%;
    height: 720px;
    z-index: 1;
}

@keyframes pulldown {
    from {top: 0px;}
    to {top:30px;}
}

#book {
    position:absolute;
    top: 30px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    margin: 0px auto 30px auto;
    width: 900px;
    /*so the inner pages are like. 450 each*/
    height: 600px;
    animation-name: pulldown;
    animation-duration: 0.5s;
}

.cover {
    position:absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    margin:auto;
    width: 450px;
    height: 600px;
    background-color: black;
    box-shadow: 0px 0px 15px;
}

.pages {
    display:inline-flex;
    position:inherit;
    margin:auto;
    width: 900px;
    height: 600px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 15px;
}

.page-left {
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 450px;
    height: 600px;
}
.page-right {
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 450px;
    height: 600px;
}

#controls {
    position: absolute;
    bottom: 30px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    text-align: center;
}

.sidebar {
    position: absolute;
    width: 16%;
    top: 25px;
    height:670px;
    background-color: aquamarine;
}

#bar-left {
    left: 35px;
}

#bar-right {
    right: 35px;
}